@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./components/click-popup.css";
@import "./components/counter.css";
@import "./components/search-field.css";
@import "./views/home.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f4f5f7;
    -webkit-font-smoothing: antialiased;
}
