.search-field {
    width: 100%;
}

search-field {
    display: block;
    width: 100%;
}

.search-input {
    display: flex;
    width: 100%;
    background: #333;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 11px 12px;
    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s ease;
}

.search-input:focus {
    background-color: #494949;
}

.search-input input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 14px;
    color: white;
    height: 100%;
}

.search-input::before {
    content: url("/assets/Search_Magnifying_Glass.svg");
    height: 40px;
    width: 40px;
}

.search-input::placeholder {
    color: #ddd;
    font-size: 16px;
}
